/* Work Sans Static Fonts */

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;
  src:
      url('work-sans/WorkSans-Regular-subset.woff2') format('woff2'),
      url('work-sans/WorkSans-Regular-subset.woff') format('woff');
  font-display: swap;
  }

  @font-face {
      font-family: 'Work Sans';
      font-weight: normal;
      font-style: italic;
      src:
          url('work-sans/WorkSans-Italic-subset.woff2') format('woff2'),
          url('work-sans/WorkSans-Italic-subset.woff') format('woff');
      font-display: swap;
  }

  @font-face {
      font-family: 'Work Sans';
      font-weight: bold;
      font-style: normal;
      src:
          url('work-sans/WorkSans-SemiBold-subset.woff2') format('woff2'),
          url('work-sans/WorkSans-SemiBold-subset.woff') format('woff');
      font-display: swap;
  }

  @font-face {
      font-family: 'Work Sans';
      font-weight: bold;
      font-style: italic;
      src:
          url('work-sans/WorkSans-SemiBoldItalic-subset.woff2') format('woff2'),
          url('work-sans/WorkSans-SemiBoldItalic-subset.woff') format('woff');
      font-display: swap;
  }

/* Poppins Static Fonts */

@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src:
      url('poppins/Poppins-Regular-subset.woff2') format('woff2'),
      url('poppins/Poppins-Regular-subset.woff') format('woff');
  font-display: swap;
  }

  @font-face {
      font-family: 'Poppins';
      font-weight: bold;
      font-style: normal;
      src:
      url('poppins/Poppins-Bold-subset.woff2') format('woff2'),
      url('poppins/Poppins-Bold-subset.woff') format('woff');
      font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src:
    url('poppins/Poppins-Medium-subset.woff2') format('woff2'),
    url('poppins/Poppins-Medium-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src:
  url('poppins/Poppins-SemiBold-subset.woff2') format('woff2'),
  url('poppins/Poppins-SemiBold-subset.woff') format('woff');
  font-display: swap;
}


/* Roboto Static Fonts */

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src:
      url('roboto/Roboto-Regular-subset.woff2') format('woff2'),
      url('roboto/Roboto-Regular-subset.woff') format('woff');
  font-display: swap;
  }

  @font-face {
      font-family: 'Roboto';
      font-weight: bold;
      font-style: normal;
      src:
      url('roboto/Roboto-Bold-subset.woff2') format('woff2'),
      url('roboto/Roboto-Bold-subset.woff') format('woff');
      font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src:
    url('roboto/Roboto-Light-subset.woff2') format('woff2'),
    url('roboto/Roboto-Light-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src:
    url('roboto/Roboto-Medium-subset.woff2') format('woff2'),
    url('roboto/Roboto-Medium-subset.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src:
    url('roboto/Roboto-Black-subset.woff2') format('woff2'),
    url('roboto/Roboto-Black-subset.woff') format('woff');
    font-display: swap;
}

/* Gordita Static Fonts */

@font-face {
    font-family: 'Gordita';
    font-weight: normal;
    font-style: normal;
    src:
        url('gordita/gordita-regular-webfont.woff2') format('woff2'),
        url('gordita/gordita-regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: normal;
    font-style: italic;
    src:
        url('gordita/gordita-regular-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-regular-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: bold;
    font-style: normal;
    src:
        url('gordita/gordita-bold-webfont.woff2') format('woff2'),
        url('gordita/gordita-bold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: bold;
    font-style: italic;
    src:
        url('gordita/gordita-bold-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-bold-italic-webfont.woff') format('woff');
    font-display: swap;
}

/* Extra weights & variants */

@font-face {
    font-family: 'Gordita';
    font-weight: 100;
    font-style: regular;
    src:
        url('gordita/gordita-thin-webfont.woff2') format('woff2'),
        url('gordita/gordita-thin-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 100;
    font-style: italic;
    src:
        url('gordita/gordita-thin-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-thin-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 200;
    font-style: regular;
    src:
        url('gordita/gordita-light-webfont.woff2') format('woff2'),
        url('gordita/gordita-light-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 200;
    font-style: italic;
    src:
        url('gordita/gordita-light-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-light-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    font-style: regular;
    src:
        url('gordita/gordita-medium-webfont.woff2') format('woff2'),
        url('gordita/gordita-medium-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 500;
    font-style: italic;
    src:
        url('gordita/gordita-medium-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-medium-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 800;
    font-style: regular;
    src:
        url('gordita/gordita-black-webfont.woff2') format('woff2'),
        url('gordita/gordita-black-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 800;
    font-style: italic;
    src:
        url('gordita/gordita-black-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-black-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 900;
    font-style: regular;
    src:
        url('gordita/gordita-ultra-webfont.woff2') format('woff2'),
        url('gordita/gordita-ultra-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    font-weight: 900;
    font-style: italic;
    src:
        url('gordita/gordita-ultra-italic-webfont.woff2') format('woff2'),
        url('gordita/gordita-ultra-italic-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
	font-family: "Gordita Fallback";
	src: local("Arial"), local("Helvetica Neue");
	size-adjust: 111.275%;
  ascent-override: 115%;
  descent-override: 31%;
  line-gap-override: 0%;
}
@font-face {
	font-family: "Gordita Fallback Android";
	src: local("Roboto");
	size-adjust: 111.275%;
  ascent-override: 115%;
  descent-override: 31%;
  line-gap-override: 0%;
}

/* Canela Static Fonts */

@font-face {
    font-family: 'Canela Deck';
    font-weight: 500;
    font-style: normal;
    src:
        url('canela/CanelaDeck-Medium-Web.woff2') format('woff2'),
        url('canela/CanelaDeck-Medium-Web.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Canela Text';
    font-weight: 500;
    font-style: normal;
    src:
        url('canela/CanelaText-Medium-Web.woff2') format('woff2'),
        url('canela/CanelaText-Medium-Web.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Archivo SemiExpanded';
    font-weight: 400;
    font-style: normal;
    src:
        url('archivo/archivosemiexpanded-regular-webfont.woff2') format('woff2'),
        url('archivo/archivosemiexpanded-regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  font-weight: 500;
  font-style: normal;
  src:
      url('archivo/archivosemiexpanded-medium-webfont.woff2') format('woff2'),
      url('archivo/archivosemiexpanded-medium-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
    font-family: 'Archivo SemiExpanded';
    font-weight: 600;
    font-style: normal;
    src:
        url('archivo/archivosemiexpanded-semibold-webfont.woff2') format('woff2'),
        url('archivo/archivosemiexpanded-semibold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Archivo SemiExpanded';
    font-weight: 700;
    font-style: normal;
    src:
        url('archivo/archivosemiexpanded-bold-webfont.woff2') format('woff2'),
        url('archivo/archivosemiexpanded-bold-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
  font-family: 'Archivo SemiExpanded';
  font-weight: 800;
  font-style: normal;
  src:
      url('archivo/archivosemiexpanded-extrabold-webfont.woff2') format('woff2'),
      url('archivo/archivosemiexpanded-extrabold-webfont.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Archivo Expanded';
  font-weight: 400;
  font-style: normal;
  src:
      url('archivo/archivoexpanded-regular-webfont.woff2') format('woff2'),
      url('archivo/archivoexpanded-regular-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  font-weight: 600;
  font-style: normal;
  src:
      url('archivo/archivoexpanded-semibold-webfont.woff2') format('woff2'),
      url('archivo/archivoexpanded-semibold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  font-weight: 700;
  font-style: normal;
  src:
      url('archivo/archivoexpanded-bold-webfont.woff2') format('woff2'),
      url('archivo/archivoexpanded-bold-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Archivo Expanded';
  font-weight: 900;
  font-style: normal;
  src:
      url('archivo/archivoexpanded-black-webfont.woff2') format('woff2'),
      url('archivo/archivoexpanded-black-webfont.woff') format('woff');
  font-display: swap;
}

@font-face {
font-family: 'Archivo ExtraCondensed';
font-weight: 800;
font-style: normal;
src:
    url('archivo/archivoextracondensed-extrabold-webfont.woff2') format('woff2'),
    url('archivo/archivoextracondensed-extrabold-webfont.woff') format('woff');
font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300 900;
  font-style: normal;
  src:
      url('rubik/rubik-variable-upright.woff2') format('woff2 supports variations'), 
      url('rubik/rubik-variable-upright.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 300 900;
  font-style: italic;
  src:
      url('rubik/rubik-variable-italic.woff2') format('woff2 supports variations'), 
      url('rubik/rubik-variable-italic.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Indie Flower';
  font-weight: 400;
  font-style: normal;
  src:
      url('indieflower/indieflower-regular-webfont.woff2') format('woff2'),
      url('indieflower/indieflower-regular-webfont.woff') format('woff');
  font-display: swap;
}
